.pLinks{
	margin: 20px;
	width: 140px;
	float: left;
	height: 140px;
}
.pLinks div{
	width: 150px;
	height: 100px;
}

.pLinks a{
	margin-top: 25px;	
}

.imageRow{
	width: 700px;
	height: 360px;
	padding-top: 60px;
	margin: 0 auto;
}
#vids{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: grey;
}
.videoBoxUser{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    height: 250px;
    width: 400px;
    background-color: lightgrey;
    float: left;
    text-align: center;
    color: black;
}
video {
    width:90%;
    height:90%;
    margin-left: 5%;
    margin-right: 5%;
}