
/************Main Settings******************/

*{
    margin:0;
    padding:0;
}

body {
    background-color: #2f2f2f;
}

a{
    cursor: default;
    text-decoration: none;
    color: #bfbfbf;
}

p{
    cursor: default;
    text-decoration: none;
    color: #bfbfbf;
}
p{
    cursor: default;
    text-decoration: none;
    color: white;
}
h1.rightrow{
    margin-top: 50px;
    color: #a0a0a0;
}

ul{
    list-style-type: none;
    color: #bfbfbf;
}

hr{
    color:#a0a0a0;
}

/************Header******************/

#Wrap{
    margin: 0 auto;
    height: 880px;
    width: 100%;
    background-color: #2f2f2f;  
}
#content{ 
    height: 1080px;
    width: 100%;
  
}
#header{
    width: 100%;
    height: 150px;
}

#header li{
    margin-left: 25px;
    float: left;
}

#headerInside{
    background-image: url('img/fade.png');
    background-repeat: repeat-y; /* for vertical repeat */
    background-size: auto; 
    background-size: cover;
    height: 200px;
}

#logo{
    height: 200px;
    width: 200px;
    float: left;
}
#logoResize{
    height: 150px;
    width: 150px;
    padding-top: 10px;
    padding-left: 50px;
}
#menu{
    
    height: 150px;
    width: auto;
    padding-top:50px;
    padding-left:200px;
    font-size: 1.5em;
    color: #a0a0a0;
    font-family: Arial !important;
    text-decoration: none;
}

/************Container******************/
#MainContent{
    height: 830px;
    width: 100%;
    padding-top:50px;
    float:left;
}

.video{
    height: 500px;
    width: 100%;
    /*background-color: red;*/
    float: left;
    /*margin: 0 auto;*/
}
.videoinline{
    display: inline-block;
}

.title{
    padding-left:50px;
    /*background-color: grey;*/
    color: #bfbfbf;
    font-family: Arial;
}

.videoBox{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    background-color: black;
    float: left;
}
#logout{
    height: 30px;
    width: 10%;
    top: 0%;
    right: 0%;
    position: absolute;
    padding-top: 30px;
}

.loadbar{
    height: 5px;
    width: 500px;
    background-color: #09e5d9;
    float: left;
}

.videoTitle{
    height: 30px;
    width: 500px;
    background-color: #444242;
    float: left;
}

.videoBoxUser{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 320px;
    width: 500px;
    font-family: arial;
    font-size: 1em;
    background-color: black;
    float: left;
    text-align: center;
    color: white;
}
#search-text {
    padding: 0px 20px;
    width: 300px;
    height: 40px;
    font-size: 22px;
}

#search-button {
    width: 100px;
    height: 44px;
    font-size: 22px;
}

/************Footer******************/
.mainFooter {
    width: 100%;
    height: 170px;
    background-color: black;
    float: left;
    border-top: 2px solid white;
    margin-top: 25px;

}
.mainFooter a:hover {
    color:lightblue;
    text-decoration: underline;
}
.mainFooter a, li{
    color: white;
    line-height: 1.5;

}

/* Left list */
.navFooterLeft {
    float:left;
    width: 200px;
    height: 136px;
    margin-left: 100px;
    margin-top: 10px;

}

.footerTopElement {
    text-decoration: underline;
}

/* Center list */
.navFooterCenter {
    float: left;
    width: 200px;
    height: 136px;
    margin-left: 160px;
    margin-top: 10px;
}
