#space{
    height: 60px;
    width: 100%;
}

#upload{
    height: 500px;
    width: 60%;
    margin: 0 auto;
    background-color: grey;
    margin-bottom: 40px;
}

textarea{
    resize: none;
}
#uploadTitle{
    height: 100px;
    width: 100%;
    margin: 0 auto;

}
h2{
    color: white;
    padding-top: 10px;
    padding-left: 50%;
}
#uploadFunction{
    height: 390px;
    width: 98%;
    margin: 0 auto;
    background-color: #2f2f2f;
}

#function{
    height: 200px;
    width: 70%;
    margin: 0 auto;
}
h3{
   color: white;
    padding-top: 10px;
    padding-left: 50%; 
}
.txtbox{
     font-size: 12pt;
     height: 22px;
     width: 280px;
     background-color: #515151;
     color: white;
     border: none;
}
.underline{
    text-decoration: underline;
}
   
.button {
  background-color: #1b1b1b;
  border: none;
  color: #bbbbbb;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}