.pLinks{
	margin: 20px;
	width: 140px;
	float: left;
	height: 140px;
}
.pLinks div{
	width: 150px;
	height: 100px;
}

.pLinks a{
	margin-top: 25px;	
}

.imageRow{
	width: 700px;
	height: 360px;
	padding-top: 60px;
	margin: 0 auto;
}

